@import "tailwindcss";

:root {
  --primary:#3b82f6;
  --card: #2B2B41;
  --foreground: #fff;
  --border : #424258;
  --gray: #C0C0C0;
  --green: #21bd5a;
  --red: #e94560;
  --yellow: #F59E0B;
}

@theme inline {
  --color-primary: #A2DD3C;
  --color-background: var(--background);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-red: var(--yellow);
}

@utility bg-radial{
  background: radial-gradient(circle at top, #1f1f47, #111);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
